.principal{
    background-image: url("../img/teste.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.formulario{
    background-color:#C0C0C0;
    margin-top: 94px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px black(0, 0,0,1);
    width: 350px; 
    
      
    
}

form h3{
    text-align: center;
    margin-bottom: 20px;
    
    font-family: sans-serif;
    font-size: 25px;
}
.imagem img{
    height: 116px;
    border-radius: 100px;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
input[type="text"], input[type="password"],input[type="tel"]{
    
    width: 85%;
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]{
    width:100%;
    padding: 15px;
    background-color:#C60E0A;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: black;
    
}

#link{
    color: blue;
    margin-left: 11px;
}